[http]
	sslVerify = false
[user]
	name = jakub-g
	email = jakub.g.opensource@gmail.com
[color "diff"]
	old = white red
[color "status"]
	changed = white red
        untracked = white cyan
[core]
	whitespace = cr-at-eol
	autocrlf = true
	editor = vim
	excludesfile = ~/gitignore_global.conf
[merge]
	conflictstyle = diff3
[push]
	default = simple
